[Dd]ebug/
[Rr]elease/
x64/
.vs/
*.suo
*.user
*.filters
*.log
*.tlog
*.ilk
*.pdb
*.idb
*.aps
*.sdf
*.opensdf
*.db
*.opendb
*.exe
*.dll
*.lib
*.obj
*.cache

ipch/
*.ipch
*.recipe
*.vcxproj.user
*.vcxproj.filters
*.lastbuildstate
*.applocal.log

*.o
*.a
*.out